<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>de</string>
  <key>CFBundleExecutable</key>
  <string>CSVtoSheets</string>
  <key>CFBundleIdentifier</key>
  <string>local.csvtosheets</string>
  <key>CFBundleName</key>
  <string>CSVtoSheets</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.1.0</string>
  <key>CFBundleVersion</key>
  <string>7</string>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>CSV-Datei</string>
      <key>CFBundleTypeExtensions</key>
      <array><string>csv</string></array>
      <key>LSItemContentTypes</key>
      <array><string>public.comma-separated-values-text</string></array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>TSV-Datei</string>
      <key>CFBundleTypeExtensions</key>
      <array><string>tsv</string></array>
      <key>LSItemContentTypes</key>
      <array><string>public.tab-separated-values-text</string></array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
    </dict>
  </array>
</dict>
</plist>
